name: Dispatch event to docker-base-images
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  trigger-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger using workflow_dispatch
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: 'docker-base-images',
              workflow_id: 'sherpa-deploy.yml',
              ref: 'main',
            });